#home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 93vh;
    animation: introduction_animation;
    animation-duration: 1s;
}

#heading_intro {
    all:unset;
    font-family: 'Red Hat Text';
    color: hsl(0, 0%, 29%);
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
}

.heading_boxes {
    width: 12ch;
    border-radius: 12px;
    line-height: 4ex;
    display: block;
    text-align: center;
    margin: 20px 0 20px 0;
    animation-name: skills_animation;
}

.heading_boxes#dynamic_box {
    background: #E8A0BF;
    animation-duration: 2s;
}

.heading_boxes#performatic_box {
    background: #BA90C6;
    animation-duration: 4s;
}

.heading_boxes#accessible_box {
    background: #C0DBEA;
    animation-duration: 5s;
}

#personal_intro {
    display: flex;
    flex-direction: row;
}

.intro_name {
    all:unset;
    font-family: 'Red Hat Text';
    color: #494949;
    /* font-size: 80px; */
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.intro_photo {
    width: fit-content;
    height: fit-content;
    align-self: center;
    animation: picture_animation;
    animation-duration: 5s;
}

@media (orientation: portrait) {
    #heading_intro {
        text-align: center;
    }
    
    #personal_intro {
        flex-direction: column;
        gap: 30px;
    }

    #name_div {
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }

    .intro_name {
        writing-mode: horizontal-tb;
        font-size: 3rem;
    }
}

@keyframes introduction_animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }  
}

@keyframes skills_animation {
    from {
        opacity: 0;
        margin-right: 100px;
    }
    to {
        opacity: 100%;
        margin-right: 0;
    }    
}

@keyframes picture_animation {
    from {
        opacity: 0;
        margin-left: 100px;
    }
    to {
        opacity: 100%;
        margin-left: 0;
    }    
}

@media (prefers-reduced-motion) {
    #home,.heading_boxes,.intro_photo {
        animation: none;
    }
  }