#header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 62px;
    background-color: #FDF4F5;
    border-bottom: 1px solid #585858;
}

#navigation_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8vw;
    align-items: center;
    height: 100%;
}

.header_buttons {
    all: unset;
    font-family: 'Red Hat Text';
    font-size: 20px;
    font-weight: bold;
    color: #494949;
}

.header_buttons:hover {
    text-shadow: 1px 1px #5858582c;
    cursor: pointer;
}