body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.02) 5vw, #FFFFFF 5vw, #FFFFFF 100vw);
    margin: 0 5vw 0 5vw;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
  }
  
  #root {
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.3;
    background-image: radial-gradient(#b2b2b2 0.71px, rgba(229,229,247,0) 0.71px);
    background-size: 10px 10px;
  }